<div class="ud-header">
  <h2 class="text-center">Public Chat</h2>
</div>
<div class="ud-body">
  <div class="msg-box">
    <ul>
      <!-- <li class="ex-msg">Hi:<br /><span class="msg-italic-style">Go</span></li>
      <li class="ex-msg">Hi<br />Go</li>
      <li class="in-msg">Udith :<br /><span class="msg-italic-style">Gggggo</span></li> -->
    </ul>
  </div>
  <div class="ud-flex-row">
    <input type="text" placeholder="Type message here" class="msg-input" [(ngModel)]="msgDto.msgText"  />
    <button class="send-btn" (click)= "send()"><i class="fa fa-paper-plane"></i></button>
  </div>
  <input type="text" placeholder="Your name" class="name-box" [(ngModel)]="msgDto.user" />
</div>