<div class="footer-container">
    <p><b><i class="fa fa-check" style="color:rgba(40, 245, 40, 0.897)" aria-hidden="true"></i> Created by: Udith Indrakantha </b></p>
    <p class="detail-delimiter"> | </p>
    <p><b><i class="fa fa-check" style="color:rgba(40, 245, 40, 0.897)" aria-hidden="true"></i> Email: udith.indrakantha@gmail.com</b></p>
    <p class="detail-delimiter"> | </p>
    <p>
        <a [href]="linkedin_url" target="_blank"><i class="fa fa-linkedin-square ud-icon" style="color:rgba(159, 193, 233, 0.897)" aria-hidden="true"></i></a>
        <a [href]="github_url" target="_blank"><i class="fa fa-github-square ud-icon" style="color:rgba(173, 166, 173, 0.897)" aria-hidden="true"></i></a>
        <a [href]="medium_url" target="_blank"><i class="fa fa-medium ud-icon" style="color:rgba(245, 240, 240, 0.897)" aria-hidden="true"></i></a>
        <a [href]="insta_url" target="_blank"><i class="fa fa-instagram ud-icon" style="color:rgba(236, 85, 143, 0.897)" aria-hidden="true"></i></a>
    </p>

</div>
